<div id="canvas">
  <div id="box_wrapper">

    <!-- template sections -->

    <header class="page_header_side page_header_side_sticked active-slide-side-header ds">
      <div class="side_header_logo ds ms">
        <a href="super-admin/home">
          <span class="logo_text margin_0">
            Log As
            <strong>Service</strong>
          </span>
        </a>
      </div>
      <span class="toggle_menu_side toggler_light header-slide">
        <span></span>
      </span>
      <div class="scrollbar-macosx">
        <div class="side_header_inner">

          <!-- user -->

          <div class="user-menu">


            <ul class="menu-click">
              <li>
                <a href="#">
                  <div class="media">
                    <div class="media-left media-middle">
                      <img src="assets/images/team/01.jpg" alt="">
                    </div>
                    <div class="media-body media-middle">
                      <h4>{{email}}</h4>
                      SUPER ADMIN

                    </div>

                  </div>
                </a>
                <ul>

                  <li>
                    <a href="javascript:void(0)" (click)="logout()">
                      <i class="fa fa-sign-out"></i>
                      Log Out
                    </a>
                  </li>
                </ul>
              </li>
            </ul>

          </div>

          <!-- main side nav start -->
          <nav class="mainmenu_side_wrapper">
            <h3 class="dark_bg_color">Dashboard</h3>



            <ul class="menu-click">
              <li>
                <a href="admin/viewlogs">
                  <i class="fa fa-user"></i>
                  View all logs
                </a>

              </li>

              <li>
                <a href="admin/search">
                  <i class="fa fa-support"></i>
                  Search
                </a>
              </li>


              <li>
                <a href="#">
                  <i class="fa fa-support"></i>
                  FAQ
                </a>
              </li>
            </ul>


          </nav>
          <!-- eof main side nav -->

          <div class="with_padding grey text-center">
            10GB of
            <strong>250GB</strong> Free
          </div>

        </div>
      </div>
    </header>

    <header class="page_header header_darkgrey">

      <div class="widget widget_search">
        <form method="get" class="searchform form-inline" action="#">
          <div class="form-group">
            <label class="screen-reader-text" for="widget-search-header">Search for:</label>
            <input id="widget-search-header" type="text" value="" name="search" class="form-control" placeholder="Search">
          </div>
          <button type="submit" class="theme_button color1">Search</button>
        </form>
      </div>


      <div class="pull-right big-header-buttons">
        <ul class="inline-dropdown inline-block">
          <li class="dropdown visible-xs-inline-block">
            <a href="#" class="search_modal_button header-button">
              <i class="fa fa-search grey"></i>
              <span class="header-button-text">Search</span>
            </a>
          </li>
        </ul>
      </div>
      <!-- eof .header_right_buttons -->
    </header>

    <section class="ls with_bottom_border">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6">
            <ol class="breadcrumb darklinks">
              <li>
                <a href="#">Admin Home</a>
              </li>
              <li class="active">Dashboard</li>
            </ol>
          </div>
          <!-- .col-* -->
          <div class="col-md-6 text-md-right">
            <span class="dashboard-daterangepicker">
              <i class="fa fa-calendar"></i>
              <span></span>
              <i class="caret"></i>
            </span>
          </div>
          <!-- .col-* -->
        </div>
        <!-- .row -->
      </div>
      <!-- .container -->
    </section>
    <section class="ls section_padding_top_50 section_padding_bottom_50 columns_padding_10">

      <router-outlet></router-outlet>
    </section>

    <section class="page_copyright ds darkblue_bg_color">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-6">
            <p class="grey">&copy; Copyrights 2017</p>
          </div>
          <div class="col-sm-6 text-sm-right">
            <p class="grey">Last account activity <i class="fa fa-clock-o"></i> 52 mins ago</p>
          </div>
        </div>
      </div>
    </section>

  </div>
  <!-- eof #box_wrapper -->
</div>
<!-- eof #canvas -->
